*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Inter',sans-serif;

background:#F4F9FF;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.container{

width:100%;

display:flex;

justify-content:center;

align-items:center;

padding:20px;

}

.card{

width:600px;

background:white;

padding:50px;

border-radius:24px;

box-shadow:0 20px 60px rgba(0,0,0,.08);

text-align:center;

}

.loader{

width:70px;

height:70px;

border:7px solid #E5E7EB;

border-top:7px solid #2563EB;

border-radius:50%;

margin:auto;

animation:spin 1s linear infinite;

margin-bottom:30px;

}

h1{

font-family:'Poppins';

font-size:34px;

margin-bottom:20px;

}

p{

color:#64748B;

line-height:28px;

margin-bottom:35px;

}

.step{

font-weight:600;

color:#2563EB;

margin-bottom:20px;

}

.progress{

width:100%;

height:12px;

background:#E5E7EB;

border-radius:20px;

overflow:hidden;

}

.progress-bar{

width:0;

height:100%;

background:#2563EB;

transition:.4s;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}